<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table{margin-left:auto;margin-right:auto; border-radius:50px;perspective: 1px;}
        table th, td{text-align:center; padding:5px 15px 0px 15px}
        label{margin-right:10px;}
        .radio{text-align:left}
        .btn{margin:5px;}
        div{border:1px solid lightgray; width:480px; border-radius:10px;margin-left:auto;margin-right:auto;}
    </style>
</head>
<body>
<div>
    <table>
    <tr><th><h3>Addimision For MCA(Latral Entry)</h3></th></tr>
    <form action="update_action" method="POST">
        {% csrf_token %}
        {% for i in results|slice:":1" %}
    <tr><td><input class="form-control" type="text" value='{{i.name}}' oninput="this.value = this.value.toUpperCase()" name="name" placeholder="Name" readonly></td></tr>
    <tr><td><input class="form-control" type="text" value='{{i.fname}}' oninput="this.value = this.value.toUpperCase()" name="fname"  placeholder="Father Name"></td></tr>
    <tr><td><input class="form-control" type="text" value='{{i.mname}}' name="mname" oninput="this.value = this.value.toUpperCase()" placeholder="Mother Name"></td></tr>
    <tr><td><input class="form-control" type="text" value='{{i.email}}' name="email"  placeholder="Email"></td></tr>
    <tr><td><input class="form-control" type="text" value='{{i.mob}}' name="mob" placeholder="Mob No." readonly></td></tr>
    <tr><td><input class="btn btn-danger" type="submit" value="UPDATE" name="submit"></td></tr>
    {%endfor%}
    </form>
    </table>
    </div>
</body>
</html>
